.loading { border:0px solid #ddd; /*padding:20px; margin:40px 5px; */ width:50px;}

#canvas {
    border: 1px solid;
}
/*#background {
    display: none;
}*/
#ballon {
    position: absolute;
    top: 50px;
    left: 50px;
    cursor: move;
    opacity: 0.5;
}