* {
    padding: 0;
    margin: 0;
}

.parentDiv {
    height: 502px;
    width: 502px;
    border: 1px solid;
    margin: 0 auto;
    position: relative;
}

.container {
    width: 200px;
    height: 150px;
}

.month-info {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 230px;
    padding: 8px;
    background-color: #fff;
}

.month-info img {
    width: 100%;
    height: auto;
}

/* Custom File Upload */
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    max-width: 80%;
    font-size: 13px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 6px 8px;
    color: #f1e5e6;
    background-color: #333;
    float: left;
    margin-right: 5px;
}
.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
    background-color: #000;
}
.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}
.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.ui-widget-content.ui-widget-content-text{
    background: #eee url(../img/placeholder-text.png) no-repeat center center;
    background-size: contain;
}
.ui-widget-content.ui-widget-content-img{
    background: #eee url(../img/placeholder-img.png) no-repeat center center;
    background-size: contain;
}

/* Editor Footer */
.modal-footer .action{
    float: right;
}
.modal-footer .frmBackground, .modal-footer .placeholderContainer{
    margin-right: 18px;
    float: left;
}
.modal-footer #mydropdownlist{
    height: 31px;
    vertical-align: top;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.btn.btn-small{
    font-size: 12px;
    padding: 6px 10px;
}
.statuscls{
    float: left !important;
    padding-right: 10px !important;
}
