<!DOCTYPE html>
<html ng-app="kpmg">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" charset="iso-8859-1">
    <!-- Page title set in pageTitle directive -->
    <title page-title></title>

    <script type="text/javascript">

        FileAPI = {
            debug: true,
            
        };
    </script>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Font awesome -->
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- Main Inspinia CSS files -->
    <link href="css/animate.css" rel="stylesheet">
    <link id="loadBefore" href="css/style.css" rel="stylesheet">
    <link href="css/customstyle.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style123.css"/>
    

    <link href="css/angular-datepicker.css" rel="stylesheet" type="text/css">

</head>
<!-- ControllerAs syntax -->
<!-- Main controller with serveral data used in Inspinia theme on diferent view -->

<body ng-controller="MainCtrl as main" class="{{$state.current.data.specialClass}}" landing-scrollspy id="page-top">
    <!-- Main view  -->
    <div ui-view></div>
    <!-- jQuery and Bootstrap -->
    <script src="js/jquery/jquery-1.12.4.js"></script>
    <script src="js/plugins/jquery-ui/jquery-ui.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- MetsiMenu -->
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <!-- SlimScroll -->
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Peace JS -->
    <script src="js/plugins/pace/pace.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="js/inspinia.js"></script>
    <!-- Main Angular scripts-->
    <script src="js/angular/angular.min.js"></script>
    <script src="js/angular/angular-sanitize.js"></script>
    <script src="js/plugins/oclazyload/dist/ocLazyLoad.min.js"></script>
    <script src="js/angular-translate/angular-translate.min.js"></script>
    <script src="js/ui-router/angular-ui-router.min.js"></script>
    <script src="js/bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="js/plugins/angular-idle/angular-idle.js"></script>
    <script src="js/angular-local-storage.js"></script>

    <link href="css/ngDialog-theme-plain.css" rel="stylesheet" type="text/css">
    <link href="css/ngDialog.css" rel="stylesheet" type="text/css">
    <link href="css/ngDialog-theme-plain.css" rel="stylesheet" type="text/css">
    <script src="js/ngDialog.js"></script>

    <script src="js/angular-datepicker.js"></script>
    
    <!--
 You need to include this script on any page that has a Google Map.
 When using Google Maps on your own site you MUST signup for your own API key at:
 https://developers.google.com/maps/documentation/javascript/tutorial#api_key
 After your sign up replace the key in the URL below..
-->
    <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTpXj82d8UpCi97wzo_nKXL7nYrd4G70"></script>-->

    <!-- Anglar App Script -->
    <!-- <script src="js/app.js"></script>
<script src="js/config.js"></script>
<script src="js/translations.js"></script>
<script src="js/directives.js"></script>
<script src="js/controllers.js"></script> -->

    <!--#vendor:start#-->
    <script src="vendor/ng-file-upload-shim.js"></script>
    <script src="vendor/ng-file-upload.js"></script>
    <script src="vendor/upload.js"></script>
    <script src="vendor/angular-base64.js"></script>
    <script src="vendor/md5.js"></script>
    <!--#vendor:end#-->

    <!--#mother:start#-->
    <script src="scripts/modules/kpmg/kpmg.module.js"></script>
    <script src="scripts/modules/kpmg/kpmg.service.js"></script>
    <script src="scripts/modules/kpmg/kpmg.config.js"></script>
    <script src="scripts/modules/kpmg/kpmg.translation.js"></script>
    <script src="scripts/modules/kpmg/kpmg.directive.js"></script>
    <script src="scripts/modules/kpmg/kpmg.controllers.js"></script>

    <!--#mother:end#-->

    <!--#module:start#-->
    <script src="scripts/modules/user/user.module.js"></script>
    <script src="scripts/modules/dashboard/dashboard.module.js"></script>
    <script src="scripts/modules/csv/csv.module.js"></script>
    <!--#module:end#-->

    <!--#service:start#-->
    <script src="scripts/services/api/userServiceApi.js"></script>
    <script src="scripts/services/api/csvServiceApi.js"></script>
    <!--<script src="scripts/services/api/dashboardServiceApi.js"></script>-->
    <!--#service:end#-->

    <!--#controller:start#-->
    <script src="scripts/modules/user/user.controllers.js"></script>
    <script src="scripts/modules/dashboard/dashboard.controllers.js"></script>
    <script src="scripts/modules/csv/csv.controllers.js"></script>
    <!--#controller:end#-->

    <!--#directive:start#-->
    <script src="scripts/modules/user/user.directive.js"></script>
    <script src="scripts/modules/csv/csv.directive.js"></script>
    <!--#directive:end#-->



</body>

</html>
