<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>CSV Management</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboards.index">Home</a>
            </li>
            <li>
                <a ui-sref="csv.list">Back</a>
            </li>
            <li class="active">
                <strong>Upload CSV</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        <p style="color:green;">{{succMessage}}</p>
                        <p style="color:red;">{{errorMessage}}</p>
                    </h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                        <div class="form-group"><label class="col-sm-2 control-label">Upload CSV</label>
                            <div class="col-sm-4">
                                <input type="file" file-model="myFile" ng-required="true" />
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-lg-4 col-sm-offset-2">
                                <a href="#/csv/list" class="btn btn-white">Cancel</a>
                                <button class="btn btn-primary" ng-click="uploadFile()">Upload</button>
                                <a href="http://150.129.179.174:4000/download/sample" class="btn btn-primary pull-right">Download Sample Csv</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
