<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-6">
        <h2>User Management</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboards.index">Home</a>
            </li>
            <li class="active">
                <strong>User Management</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <span style="width: 100%; margin: 0 10px 70px 0;"><loading></loading><span>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="datatablesCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>User List</h5><br>
                    <p>{{succMessage}}</p>
                    <p>{{errorMessage}}</p>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="col-sm-3">
                        <a ui-sref="csv.upload" class="ladda-button btn btn-info" data-style="slide-down">Upload CSV</a>
                    </div>
                    <table datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Country</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="csv in csvObjData">
                            <td>{{ csv.id }}</td>
                            <td>{{ csv.name }}</td>
                            <td>{{ csv.email }}</td>
                            <td>{{ csv.phone }}</td>
                            <td>{{ csv.country }}</td>
                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>
