<div class="middle-box text-center loginscreen  animated fadeInDown" ng-controller="LoginCtrl">
    <div>
        <div>
            <!-- <h1 class="logo-name"><img src="img/icon.png"></h1> -->
        </div>
        <h3>KPMG Admin</h3>
        <p>Login in. To see it in action.</p>
        <p style="color:red;">{{Message}}</p>
        <p style="margin: auto; width: 30%;">
            <loading></loading>
        </p>
        <div>

            <form class="m-t" role="form" name="login_form" method="post" novalidate ng-submit="loginForm(authorizationForm)">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" name="email" ng-model="authorizationForm.email" ng-pattern="/^[a-z0-9_.]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/" required>
                </div>
                <div class="m-sm" ng-show="login_form.email.$invalid && login_form.submitted">
                    <small class="text-danger" ng-show="login_form.email.$error.required">Please input email address</small>
                    <small class="text-danger" ng-show="login_form.email.$error.email">Please input a valid email address</small>
                    <small class="text-danger" ng-show="login_form.email.$error.pattern">Can not used special characters!</small>
                </div> 


                <!-- ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" -->
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="password" ng-model="authorizationForm.password" ng-minlength="3" ng-maxlength="8" required>
                </div>
                <div class="m-sm" ng-show="login_form.password.$invalid && login_form.submitted">
                    <small class="text-danger" ng-show="login_form.password.$error.required">Please input password</small>
                    <small class="text-danger" ng-show="login_form.password.$error.minlength">Your password is required to be at least 3 characters</small>
                    <small class="text-danger" ng-show="login_form.password.$error.maxlength">Your password cannot be longer than 8 characters</small>
                    <!-- <small class="text-danger" ng-show="reg_form.password.$error.pattern">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</small> -->
                </div>
                <div class="form-group">
                    <captcha></captcha>
                </div>
                <div class="m-sm" ng-show="login_form.captchaCode.$invalid && login_form.submitted">
                    <small class="text-danger" ng-show="login_form.captchaCode.$error.required">Please input captcha code</small>
                </div>
                

                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
                <!-- <a ui-sref="category.list" class="btn btn-primary block full-width m-b">Login</a> -->

                <!-- <a ui-sref="forgot_password"><small>Forgot password?</small></a> -->
                <p class="text-muted text-center"><small>Do not have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" ui-sref="register">Create an account</a>
            </form>
        </div>
        <p class="m-t"> <small>KPMG &copy; 2017</small> </p>
    </div>
</div>