<div class="middle-box text-center loginscreen   animated fadeInDown" ng-controller="RegisterCtrl">
    <div>
        <div>

            <!-- <h1 class="logo-name">Ray</h1> -->

        </div>
        <h3>Register to KPMG</h3>
        <p>Create account to see it in action.</p>
        <p style="color:red;">{{Message}}</p>
        <p style="margin: auto; width: 30%;">
            <loading></loading>
        </p>
        <div>
            <form class="m-t" role="form" name="reg_form" method="post" novalidate ng-submit="regForm(authorizationForm)">

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name" name="name" ng-model="authorizationForm.name" no-special-char  ng-minlength="3" ng-maxlength="20" required>
                </div>
                <div class="m-sm" ng-show="reg_form.name.$invalid && reg_form.submitted">
                    <small class="text-danger" ng-show="reg_form.name.$error.required">Please input a name</small>
                    <small class="text-danger" ng-show="reg_form.name.$error.minlength">Your name is required to be at least 3 characters</small>
                    <small class="text-danger" ng-show="reg_form.name.$error.maxlength">Your name cannot be longer than 20 characters</small>
                </div>
                <!-- <div class="hr-line-dashed"></div> -->


                <div class="form-group">
                    <input type="email" class="form-control"  placeholder="Email" name="email" ng-model="authorizationForm.email" ng-pattern="/^[a-z0-9_.]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/" required>
                </div>
                <div class="m-sm" ng-show="reg_form.email.$invalid && reg_form.submitted">
                    <small class="text-danger" ng-show="reg_form.email.$error.required">Please input email address</small>
                    <small class="text-danger" ng-show="reg_form.email.$error.email">Please input a valid email address</small>
                    <small class="text-danger" ng-show="reg_form.email.$error.pattern">Can not used special characters!</small>
                </div>


                <!-- ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" -->
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="password" ng-model="authorizationForm.password" ng-minlength="3" ng-maxlength="8" required>
                </div>
                <div class="m-sm" ng-show="reg_form.password.$invalid && reg_form.submitted">
                    <small class="text-danger" ng-show="reg_form.password.$error.required">Please input password</small>
                    <small class="text-danger" ng-show="reg_form.password.$error.minlength">Your password is required to be at least 3 characters</small>
                    <small class="text-danger" ng-show="reg_form.password.$error.maxlength">Your password cannot be longer than 8 characters</small>
                    <!-- <small class="text-danger" ng-show="reg_form.password.$error.pattern">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</small> -->
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword" ng-model="confirmPassword" data-password-verify="authorizationForm.password" required>
                </div>
                <div class="m-sm" ng-show="reg_form.confirmPassword.$invalid && reg_form.submitted">
                    <small class="text-danger" ng-show="reg_form.confirmPassword.$error.required">Please input confirm password</small>
                    <small class="text-danger" ng-show="reg_form.confirmPassword.$error.passwordVerify">Confirm password are not equal!</small>
                </div>
                <!-- <div class="form-group">
                    <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
                </div> -->
                <button type="submit" class="btn btn-primary block full-width m-b">Register</button>

                <p class="text-muted text-center"><small>Already have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="#/login">Login</a>
            </form>
        </div>
        <p class="m-t"> <small>KPMG &copy; 2017</small> </p>
    </div>
</div>