<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Edit profile</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboards.index">Home</a>
            </li>
            <li class="active">
                <strong>Edit profile</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="UpdateProfileCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><p style="color:green;">{{succMessage}}</p>
                        <p style="color:red;">{{errorMessage}}</p>
                    </h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content" >
                    <form role="form"  class="form-horizontal" name="update_form" method="post" novalidate ng-submit="updateForm()">

                        <div class="form-group"><label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Name" name="name" ng-model="name"  ng-minlength="3" ng-maxlength="20" no-special-char required>

                                <div class="m-sm" ng-show="update_form.name.$invalid && update_form.submitted">
                                    <small class="text-danger" ng-show="update_form.name.$error.required">Please input a name</small>
                                    <small class="text-danger" ng-show="update_form.name.$error.minlength">Your name is required to be at least 3 characters</small>
                                    <small class="text-danger" ng-show="update_form.name.$error.maxlength">Your name cannot be longer than 20 characters</small>
                                </div>

                            </div>
                        </div>
                        
                        <div class="hr-line-dashed"></div>

                        <div class="form-group"><label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-4">
                                <input type="email" class="form-control" placeholder="Email" name="email" ng-model="email" ng-pattern="/^[a-z0-9_.]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/" required>

                                <div class="m-sm" ng-show="update_form.email.$invalid && update_form.submitted">
                                    <small class="text-danger" ng-show="update_form.email.$error.required">Please input email address</small>
                                    <small class="text-danger" ng-show="update_form.email.$error.email">Please input a valid email address</small>
                                    <small class="text-danger" ng-show="update_form.email.$error.pattern">Can not used special characters!</small>
                                </div>

                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        
                        <div class="form-group"><label class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-4">
                                <input type="password" class="form-control" placeholder="Password" name="password" ng-model="password" value="">
                                <!-- <div class="m-sm" ng-show="update_form.password.$invalid && update_form.submitted">
                                    <small class="text-danger" ng-show="update_form.password.$error.required">Please input password</small>
                                    <small class="text-danger" ng-show="update_form.password.$error.minlength">Your password is required to be at least 3 characters</small>
                                    <small class="text-danger" ng-show="update_form.password.$error.maxlength">Your password cannot be longer than 8 characters</small>
                                </div> -->
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group"><label class="col-sm-2 control-label">Confirm Password</label>
                            <div class="col-sm-4">
                                <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword" ng-model="confirmPassword" data-password-verify="password">
                                <div class="m-sm" ng-show="update_form.confirmPassword.$invalid && update_form.submitted">
                                    <!-- <small class="text-danger" ng-show="update_form.confirmPassword.$error.required">Please input confirm password</small> -->
                                    <small class="text-danger" ng-show="update_form.confirmPassword.$error.passwordVerify">Confirm password are not equal!</small>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" class="form-control" ng-model="userId">

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <a href="#/users/list" class="btn btn-white">Cancel</a>
                                <button class="btn btn-primary" type="submit">Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
