<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="profile-element" uib-dropdown>
                    <!-- <img alt="image" class="img-circle" src="img/profile_small.jpg" /> -->
                    <a uib-dropdown-toggle href>
                        <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{userName}}</strong>
                             </span>
                        <span class="text-muted text-xs block">Admin <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
                        <li><a ui-sref="users.updateProfile">Update Profile</a></li>
                        <li class="divider"></li>
                        <li ng-controller="LogoutCtrl"><a ng-click="goTo();">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboards.index"><i class="fa fa-dashboard"></i> <span class="nav-label">{{ 'DASHBOARD' | translate }}</span> </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="csv.list"><i class="fa fa-dashboard"></i> <span class="nav-label">User List</span> </a>
            </li>

        </ul>

    </div>
</nav>
