.custom_menu {
    display: none;
    z-index: 1000;
    position: fixed;
    overflow: hidden;
    border: 1px solid #f5f5f5;
    white-space: nowrap;
    font-family: sans-serif;
    background: #f0f0f0;
    color: #333;
    width: 215px;
}

.custom_menu li {
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    font-size: 14px;
    line-height: 30px;
    padding: 0 15px;
    position: relative;
}

.custom_menu li:last-child,.custom_menu li:last-child:after{
    border: none;
}

.custom_menu li:hover {
    background-color: #DEF;
}
.custom_menu#folderS{
    z-index: 999999;
}
#folderS .menuHide{
    opacity: 0.4;
}
.folderPaste.menuHide::after {
    content: "";
    cursor: auto;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
