*{padding:0; margin:0;}
.parentDiv{
    height:500px;
    width:500px;
    border: 1px solid;
    margin: 0 auto;
    position: relative;
    z-index: 100 !important;
}

.activeContainer{
  z-index:10;
}

.close{
	height:25px;
	width:25px;
	display:block;
	position:absolute;
	top:-10px;
	right:-10px;
	background-color:#fff;
	-webkit-border-radius:50%;
	border-radius:50%;
	-webkit-box-shadow:0 1px 4px 0 rgba(0, 0, 0, 0.7);
	box-shadow:0 1px 4px 0 rgba(0, 0, 0, 0.7);
}
.close img{
	display:block;
}
.ui-dialog{
	z-index: 2052;
}
